@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-body ">
        <h2 class="card-title"> Informações do Usúario</h2>
        <p><strong>Nome :</strong> @ViewBag.NomeUsuario</p>
        <p><strong>Email :</strong> @ViewBag.EmailUsuario</p>
        <p><strong>Nivel de acesso :</strong>@ViewBag.NivelAcesso</p>
        <p><strong>Data :</strong>@ViewBag.DataAcesso</p>
    </div>

</div>